doctype html
html(lang="en")
  head
    title Groceries
    link(rel="manifest" href="/manifest.json")
    link(href="/icon.svg" rel="icon" type="image/svg+xml")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="An offline-ready grocery list")
    link(rel="stylesheet" href="/water.css")
    script(type="module" src="/app.js")

  body
    h1 Groceries

    automerge-list
      ul
        each todo in todos
          li= todo.text

      form(action="/" method="post")
        label(for="text") Text:
        input#text(name="text" type="text")

        input(type="submit" value="Add")
